@use 'variables';

section.landing {

    @keyframes fade-in-animation-1 {
        0% { 
            transform: translateY(50px);
            opacity: 0; 
        }
        50% {
            transform: translateY(0px);
        }
        100% {
            opacity: 1;
        }
    }

    @keyframes fade-in-animation-2 {
        0% {
            transform: translateY(50px);
            opacity: 0;
        }
        25% { 
            transform: translateY(50px);
            opacity: 0; 
        }
        75% {
            transform: translateY(0px);
        }
        100% {
            opacity: 1;
        }
    }

    .triangles {
        top: #{variables.$navbarHeight};
        height: calc(100vh - #{variables.$navbarHeight});
        width: 100vw;
    }

    .title-container {
        top: calc(-100vh + #{variables.$navbarHeight});
        height: calc(100vh - #{variables.$navbarHeight});
        position: relative;
        font-family: 'Orbitron', sans-serif;

        .title {
            @apply w-full text-7xl text-center;

            font-weight: 900;

            &.animate {
                animation-name: fade-in-animation-1;
                animation-duration: 4s;
                animation-iteration-count: 1;
            }
        }

        .sub-title {
            @apply w-full text-4xl text-center;

            &.animate {
                animation-name: fade-in-animation-2;
                animation-duration: 4s;
                animation-iteration-count: 1;
            }
        }
    }

    .expand-icon-container {
        position: absolute;
        bottom: 0;
        width: 100%;
    }
}