@use 'variables';

div.pricing-card {
    @apply h-full flex justify-between items-center text-center;

    background-color: rgb(255, 255, 255);

    .material-icons {
        cursor: pointer;
    }

    .arrow-placeholder {
        width: 96px;
    }

    .card {
        @apply mx-24 flex flex-col gap-6;

        .title {
            font-family: 'Orbitron', sans-serif;
            font-size: 1.7em;
            font-weight: 800;
        }

        .size {
            font-family: 'Orbitron', sans-serif;
            font-size: 1.5em;
        }

        .description {

        }
    }
}